body {
  background-image: url("ClocktowerLogo.png");
  font-size: 100%
}

#smallheader {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size:18px;
  letter-spacing: 0.3em;
}

#container {
  text-align: center;
  background-color: "lightgrey";
}

#menuholddiv {
  width: 100%;
  background-color: "white";
}
  

#bigheader{
 font-size:100px; 
 font-family: "Playfair Display";
}


.menubutton {
width:25%;
height:50px;
float:left;
text-align: center;
background:lightgrey;
font-family: "Arial", sans-serif;
font-size:12pt;
color:black;
text-decoration: none;
}

