body {
  background-image: url("ClocktowerLogo.png");
  font-size: 100%
}

#smallheader {
  text-align: center;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.3em;
}

#container {
  text-align: center;
  background-color: "lightgrey";
}

#menuholddiv {
  width: 100%;
  background-color: "white";
}
  

#bigheader{
 font-family: "Playfiar Display";  
}


.menubutton {
width:25%;
height:50px;
float:left;
text-align: center;
background:"lightgrey";
font-family: "Arial", sans-serif;
font-size:12pt;
color:"black";
}

// to make links show up cool
a.nav-link:link
{
   color: #fb3f00;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #fb3f00;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #fb3f00;
   text-decoration: none;
}
a.nav-link:active
{
   color: #fb3f00;
   text-decoration: none;
}
