body {
  background-image: url("ClocktowerLogo.png");
  font-size: 100%
}

#smallheader {
  font-family: "Arial", sans-serif;
  letter-spacing: 0.5em;
}

#container {
  background-color: "lightgrey";
}

#menuholddiv {
  width: 100%;
  background-color: "white";
}
  

.menubutton {
width:25%;
height:50px;
float:left;
text-align: center;
background:grey;
font-family: "Arial", sans-serif;
font-size:12pt;
color:black;
}
